$light: #f8f8f8;
$light-sm: #f5f5f5;
$light-gray: #d3d3d3;
$turquoise: #44ddd0;
$green: #27d1a1;
$light-green: #45f69e;
$active-item: #cff8ef;

$pastel-blue: #4a9396;
$pastel-dark-blue: #00202e;
$pastel-yellow: #fdd03b;
$pastel-yellow-light: #ffd95c;
$pastel-ohra: #cb7f07;
$pastel-brown: #291907;